@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url('framework7-icons/fonts/Framework7Icons-Regular.woff2') format('woff2');
}

.f7-icons {
  display: inline-block;
  direction: ltr;
  font-family: 'Framework7 Icons';
  font-feature-settings: 'liga';
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
